* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;
}


/* Header Styling */
header {
    background: #008080;
    color: white;
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00B4D8;
}

h1{
font-size:35px;
}
.products {
    margin: 20px;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.product img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
}

button {
    background: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e68900;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}